.video_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.video_iframe {
  width: 100%;
  height: calc(75vh - 72px);
}

.video_info {
  padding: 1.5rem 1rem 0 1rem;
}

.video_title {
  font-size: 0.9rem;
}

.video_info_states_icons {
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.8rem;
}

.video_info_views {
  color: var(--font-color-secondary);
  font-weight: 100;
}

.video_icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.video_icons span {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.video_icon {
  height: 1.3rem;
}

.video_divider {
  margin: 1rem 0;
  border-bottom: 1px solid #1f4a57;
}

.video_channelInfo {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.video_channelName {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.video_channelName img {
  object-fit: cover;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.video_channelLink {
  cursor: pointer;
  background-color: var(--container-color-dark);
  font-size: 0.9rem;
  padding: 0.9rem 1rem;
  border-radius: 5px;
}

.video_description {
  margin-top: 1.5rem;
  font-size: 0.8rem;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .video_info_states_icons {
    font-size: 0.9rem;
  }

  .video_icons {
    gap: 20px;
  }

  .video_title {
    font-size: initial;
  }
}

@media (min-width: 1024px) {
  .video_info {
    padding: 1.5rem 0 0 0;
  }
}
