.navbar {
  background-color: var(--navbar-color);
  position: sticky;
  top: 0;
  z-index: 10;
  height: 70px;
  padding: 1rem;
}

.navbar_main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 100%;
}

.navbar_left {
  display: flex;
  align-items: center;
}

.navbar_left h2 {
  font-family: 'Encode Sans', sans-serif;
  letter-spacing: 1px;
  margin-left: 0.5rem;
  font-size: 1.2rem;
}

.menu_icon,
.login_icon {
  height: 1.5rem;
  margin-right: 0.5rem;
}

.menu_hamberg:hover {
  background: none;
  color: var(--primary-color);
}

.navbar_search {
  visibility: hidden;
  background-color: var(--container-color-dark);
  display: flex;
  align-items: center;
  padding: 0.5rem 0.9rem;
  gap: 1rem;
  width: 35%;
  border-radius: 1rem;
}

.search_icon {
  height: 1.5rem;
}
.search_bar {
  outline: none;
  border: none;
  background-color: inherit;
  color: var(--font-color);
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
}

.navbar_auth {
  display: flex;
  align-items: center;
}

.navbar_auth svg {
  cursor: pointer;
}

.navbar_auth_link {
  cursor: pointer;
  background-color: var(--container-color-dark);
  font-size: 0.75rem;
  padding: 0.4rem;
  border-radius: 5px;
}

.navbar_profile {
  display: inline-flex;
}

.search_bar::placeholder {
  color: var(--font-color);
}

@media (min-width: 640px) {
  .navbar_search {
    visibility: visible;
  }

  .menu_icon,
  .login_icon {
    height: 2rem;
  }

  .navbar_auth_link {
    font-size: 0.8rem;
    padding: 0.5rem;
  }

  .navbar_left h2 {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .menu_icon {
    display: none;
  }

  .navbar_search {
    width: 35%;
  }

  .search_bar {
    padding: 0 0.5rem;
  }
}
