@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@500&display=swap');

:root {
  --font-color: #ffffff;
  --font-color-secondary: #dad9d4;
  --bg-color: #182226;
  --navbar-color: #1f2c30;
  --navbar-color-dark: #23232e;
  --container-color: #2d5a68;
  --container-color-dark: #1f4a57;
  --primary-color: #bd7588;
  --danger-color: #e76464;
  --icon-color: var(--font-color);
  color: var(--font-color);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.error-msg {
  color: var(--danger-color);
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
}

@media (min-width: 450px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
