.playlist {
  width: 100%;
}

.playlist_videos {
  padding: 1rem;
}

.playlist_empty {
  display: grid;
  place-content: center;
  height: 100%;
}

.playlist_video_info {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-block: 1rem;
  margin-left: 1rem;
}

.playlist_video_info p {
  font-size: 0.95rem;
}

@media (min-width: 768px) {
  .playlist {
    margin-left: 95px;
  }

  .playlist_video_info {
    margin-left: 1.5rem;
  }

  .playlist_videos {
    padding: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .playlist {
    margin-left: 250px;
  }
}
