.profile {
  width: 100%;
  display: grid;
  place-items: center;
}

.profile_card {
  width: 25rem;
  box-shadow: #ec8282 0px 0px 9px 2px;
}

.profile_heading {
  text-align: center;
  padding: 0.5rem;
  background-color: var(--danger-color);
}

.profile_info {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 0.6rem;
  padding: 2rem;
}

.profile_name,
.profile_email {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.profile_info_bold {
  font-weight: bold;
}
