.watchLater_container {
  width: 100%;
  padding: 2rem;
}

.watchLater_empty {
  display: grid;
  place-content: center;
  height: 100%;
}

@media (min-width: 768px) {
  .watchLater_container {
    margin-left: 95px;
  }
}

@media (min-width: 1024px) {
  .watchLater_container {
    margin-left: 250px;
  }
}
